.text {
    font-family: 'Poppins', sans-serif;}
.highlight {
    font-size: 2rem;
}
body {
    background-color: rgba(255, 255, 255, 0.794);
}
p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.bild {
    float: right;
    width: 35%;
    border-radius: 5%;
    box-shadow: 0px 0px 15px -5px;
}